<article class="box2">
  <figure>
    <img src="./image/finance.svg" alt="Image with finance symbols"  />
  </figure>
  <p class="title">Convert My Money</p>
  <p class="subtitle">Conversor de Moeda</p>
</article>
</div>